::selection{background: rgb(255,185,41);background: rgba(255,185,41,0.5);}
::-moz-selection{background: rgb(255,185,41);background: rgba(255,185,41,0.5);}
.ppiApp input:focus{outline:none;}

.ppiApp body, .ppiApp {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    background: #202020;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto !important;
}

.ppiApp .holder {
    position: relative;
    min-width: 250px !important;
    width: 80%;
    background: #474747;
    margin: 20px auto 0 auto;
    padding: 10px 10px 25px 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
}

.ppiApp .holder p {
    position: absolute;
    bottom: 2px;
    right: 5px;
    font: 300 12px 'Open Sans', Arial;
    color: #FFF;
    margin: 0;
}

.ppiApp label {
    display: inline-block;
    width: 30%;
    font: 300 16px 'Open Sans', Arial;
    color: #FFF;
    vertical-align: top;
}

.ppiApp input {
    width: 30%;
    height: 35px;
    background: #FFF;
    margin: 10px 0;
    padding: 10px;
    font: 300 16px 'Open Sans', Arial;
    text-align: center;
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0 1px 0 #222, inset 0 1px 3px #777;
}

.ppiApp .results {
    text-align: center;
}

.ppiApp h2 {
    font: 200 20px 'Open Sans', Arial;
    color: #FFF;
    margin: 16px;
}

.ppiApp .results span {
    display: inline-block;
    min-width: 250px;
    max-width: 100%;
    margin: 5px auto;
    padding: 20px;
    font: 300 50px 'Open Sans', Arial;
    color: #FFF;
    text-overflow: ellipsis;
    overflow: hidden;
    text-shadow: 0 1px 3px rgba(0,0,0,0.5);
    border-radius: 20px;
    box-sizing: border-box;
	box-shadow: 0 1px 0 #333, inset 0 1px 0 #ffa833;
}
.ppiApp #width{background:#FF9200 url('../resources/x.png') no-repeat;}
.ppiApp #height{background:#FF9200 url('../resources/y.png') no-repeat;}
.ppiApp #ppi{background:#FF9200;}

.holder a {
	display: block;
	font: 200 20px 'Open Sans', Arial;
    color: #FFF;
    margin: 15px auto;
}

.ppiApp .more {
	display: none;
	border-top: 1px solid #000;
}

.ppiApp .more h4 {
	margin: 20px;
    font: 200 16px 'Open Sans', Arial;
    color: #FFF;
}

.ppiApp .more span {
	font-weight: bold;
	color: orange;
}

.ppiApp .update {
	width: 80%;
	background: #474747;
	margin: -35px auto 15px auto;
	text-align: center;
	border-radius: 0 0 10px 10px;
    box-shadow: 0 0 10px #000;
}

.ppiApp .update a {
	font: 14px 'Open Sans', Arial, Helvetica;
	color: #fff;
	text-decoration: none;
}
.ppiApp .update a:hover{text-decoration: underline;}

.ppiApp .presets {
	display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    background: #535353;
    padding: 0 15px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-radius: 0 0 10px 0;
    box-sizing: border-box;
    box-shadow: 0 0 10px #000;
}

.ppiApp .open, .ppiApp .close {
	position: absolute;
	top: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
}
.ppiApp .open {
    left: 0;
    background: #202020 url('../resources/open.png') no-repeat;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-radius: 0 0 10px 0;
}
.ppiApp .close {
    right: 0;
    background: url('../resources/close.png') no-repeat;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-radius: 0 0 0 10px;
}
.ppiApp .open:hover{background: #5F5F5F url('../resources/open.png') no-repeat;}
.ppiApp .close:hover{background: #5F5F5F url('../resources/close.png') no-repeat;}

.ppiApp .presets h2 {
    margin: 10px 0 0 0;
}

.ppiApp .presets ul {
	display: inline-block;
    list-style: none;
    vertical-align: top;
    margin: 15px;
    padding: 0;
}

.ppiApp .presets .preset {
    font: 300 16px 'Open Sans', Arial;
    color: #FFF;
    padding: 0 10px;
    cursor: pointer;
}

.ppiApp .presets .preset:hover {
    background: #3E3E3E;
}

.ppiApp .presets ul li:first-child {
    font: 400 16px 'Open Sans', Arial;
    color: #FFF;
    padding: 0;
}

.ppiApp .credit {
	margin: 5px;
    font: 300 16px 'Open Sans', Arial;
    color: #FFF;
}
.ppiApp .credit a {
    color: #FF9200;
}

:read-write {}